<nav class="header">
  <div class="header-user">
    <%= image_tag current_user.image %>
    <%= "#{current_user.name} (#{current_user.provider})" %>
  </div>
  <div class="header-signout">
    <%= link_to t('home.signout'), destroy_user_session_path, :method => :delete %>
  </div>
</nav>
<hr>